<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<client>
			<!-- Замість прямої адреси використаємо іменований endpoint -->
			<endpoint name="ChatServiceEndpoint"
                      address="net.tcp://localhost:9000/"
                      binding="netTcpBinding"
                      contract="RedesignedChatLibrary.IChatServer" />
		</client>
	</system.serviceModel>
</configuration>
