<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ChatServiceBehavior">
					<!-- Увімкнення метаданих -->
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="RedesignedChatLibrary.ChatServer" behaviorConfiguration="ChatServiceBehavior">
				<!-- Основний endpoint -->
				<endpoint address=""
                          binding="netTcpBinding"
                          contract="RedesignedChatLibrary.IChatServer" />

				<!-- Метадані для клієнтів -->
				<endpoint address="mex"
                          binding="mexTcpBinding"
                          contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
